@font-face {
    font-family: "bluu";
    src: url('./bluu-next/BluuNext-Bold.otf');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: "bluu";
    src: url('./bluu-next/BluuNext-Bolditalic.otf');
    font-weight: bold;
    font-style: italic;
    
}

@font-face {
    font-family: "bluu";
    src: url('./bluu-next/BluuNext-Titling.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: "bluu", sans-serif;
}

body {
    margin: 0;
}

h1 {
    height: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    color: black;
}

h2 {
    height: 1.5rem;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
}

.header {
    background-color: #D9D9D9;
    height: 100px;
    display: flex;

    &--title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--contact {
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
    }
    
}

.catalogue {
    padding-left: 1rem;
    font-family: "bluu", sans-serif;
}

.liste-goodies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
//mon css
.case-description {
    display: flex;
    box-sizing: border-box;
    width: 500px;
    height: 337px;
    background: #FFFFFF;
    border: 0.5px solid #A7A7A7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.group-text-description {
    display: flex;
    flex-direction: column;
    
}
.h2-titre-description {
    margin-left: 30px;
    margin-top: -5px;
    width: 300px;
}
.p-text-description {
    height: 80px;
    margin-left: 50px;
}
.p-text-sign-in {
    margin-left: 20px;
    margin-top: 130px;
}
.sign-in {
    box-sizing: border-box;
    width: 225px;
    height: 56px;
    left: -23px;
    top: -13px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.h2-description {
    display: flex;
    cursor: pointer;
  }
.goodies-details {
    display: flex;
    flex-direction: column;
    
}